In [2]:
import pandas as pd
df = pd.read_parquet("../output/documents.parquet")

In [3]:
df.columns

Index(['id', 'human_readable_id', 'title', 'text', 'text_unit_ids',
       'creation_date', 'raw_data'],
      dtype='object')

In [4]:
df.shape

(3, 7)

In [5]:
df.head()

,id,human_readable_id,title,text,text_unit_ids,creation_date,raw_data
0,290be26d6ba5387ce151ee2d9275397784f9f1a5deebd0...,0,徳川家康_wiki.txt,# This text is based on the Wikipedia article ...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,2026-02-08 17:20:55 +0900,None
1,b72923b6293393366d11f383a953a1d962b73e9b7fcbbe...,1,織田信長_wiki.txt,# This text is based on the Wikipedia article ...,[8edb869876028adadc55b397adcf0dbef9071509b7bb2...,2026-02-08 17:20:55 +0900,None
2,7d4c8f718a537946cdf8e45206ab126c324c6114c27d16...,2,豊臣秀吉_wiki.txt,# This text is based on the Wikipedia article ...,[06184bfadf6a085483ab528a8e20883ded0d76cdcc1d9...,2026-02-08 17:20:55 +0900,None

In [6]:
df.dtypes

id                   object
human_readable_id     int64
title                object
text                 object
text_unit_ids        object
creation_date        object
raw_data             object
dtype: object

In [7]:
df.dtypes.to_frame(name="dtype")

                    dtype
id                 object
human_readable_id   int64
title              object
text               object
text_unit_ids      object
creation_date      object
raw_data           object

In [9]:
df.dtypes.to_frame(name="dtype").reset_index(names="column")

              column   dtype
0                 id  object
1  human_readable_id   int64
2              title  object
3               text  object
4      text_unit_ids  object
5      creation_date  object
6           raw_data  object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3 non-null      object
 1   human_readable_id  3 non-null      int64
 2   title              3 non-null      object
 3   text               3 non-null      object
 4   text_unit_ids      3 non-null      object
 5   creation_date      3 non-null      object
 6   raw_data           0 non-null      object
dtypes: int64(1), object(6)
memory usage: 300.0+ bytes

In [11]:
type(df.dtypes)

pandas.core.series.Series