In [2]:
import pandas as pd
df = pd.read_parquet("../output/entities.parquet")

In [3]:
df.dtypes

id                   object
human_readable_id     int64
title                object
type                 object
description          object
text_unit_ids        object
frequency             int64
degree                int64
dtype: object

In [47]:
df.shape

(2660, 8)

In [48]:
df.head()

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree
0,94d0afe6-ce6d-4d99-8eb3-8b90a756ed37,0,TOKUGAWA IEYASU,PERSON,TOKUGAWA IEYASU was a pivotal Sengoku- and ear...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,66,200
1,6e5862b9-4848-4a18-8cec-555257ada45e,1,EDO SHOGUNATE,ORGANIZATION,EDO SHOGUNATE refers to the Tokugawa shogunate...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,10,10
2,a9a011bf-1f40-4ebf-9531-cb13c5d787fa,2,TOKUGAWA SHI,ORGANIZATION,The TOKUGAWA SHI is the historic Japanese clan...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,5,4
3,6a56f723-5022-471c-85d8-15e7723143d8,3,ANSHO MATSUDAIRA FAMILY,ORGANIZATION,Mikawa-based Matsudaira clan; five generations...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,1,1
4,cd6b0404-4b7a-47e7-9004-c00d8fa0b33f,4,IMAGAWA CLAN,ORGANIZATION,The Imagawa clan is a powerful Sengoku-era feu...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,8,26

In [49]:
df["type"].unique()

array(['PERSON', 'ORGANIZATION', 'EVENT', 'GEO', 'ORG', 'ORGANIATION'],
      dtype=object)

In [50]:
df["type"].value_counts()

type
PERSON          1239
GEO              525
ORGANIZATION     439
EVENT            416
ORG               40
ORGANIATION        1
Name: count, dtype: int64

In [51]:
df["type"].isna().sum()

np.int64(0)

In [52]:
df[df["type"].isna()]

Empty DataFrame
Columns: [id, human_readable_id, title, type, description, text_unit_ids, frequency, degree]
Index: []

In [53]:
df[df["type"] == "PERSON"].head(10)

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree
0,94d0afe6-ce6d-4d99-8eb3-8b90a756ed37,0,TOKUGAWA IEYASU,PERSON,TOKUGAWA IEYASU was a pivotal Sengoku- and ear...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,66,200
5,8717d0c8-06ed-4949-a931-445aa403d808,5,ODA NOBUNAGA,PERSON,Oda Nobunaga was a prominent 16th-century Japa...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,43,107
14,d0361a72-b4b8-4c4f-b6b3-54d5c91220fd,14,TOYOTOMI HIDEYOSHI,PERSON,Toyotomi Hideyoshi was a premier Sengoku-perio...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,74,229
19,b0b88bcf-be31-4779-9c7c-00e2a62ccb0b,19,ODA NOBUHIRO,PERSON,Member of the Oda clan who is noted as a hosta...,[2d3c8ba1c66e3082efc7ccd0cb37fd8cb9f29c4b37175...,1,0
20,1ff1bba4-d653-40a7-bf1c-a374ba2bd0c6,20,IMAGAWA YOSHIMOTO,PERSON,Imagawa Yoshimoto was a Sengoku-era daimyo and...,[2d3c8ba1c66e3082efc7ccd0cb37fd8cb9f29c4b37175...,8,6
22,77e8a7b3-30ee-46ea-b686-b170e7afe08f,22,HIROTADA MATSUDARA,PERSON,"Matsudaira Hirotada, lord of Okazaki Castle an...",[2d3c8ba1c66e3082efc7ccd0cb37fd8cb9f29c4b37175...,2,1
27,63a44b58-868b-4817-9d1b-7ceb0fa2501e,27,GO-MIZUNO EMPEROR,PERSON,Emperor Go-Mizuno; granted Tokugawa Ieyasu the...,[2d3c8ba1c66e3082efc7ccd0cb37fd8cb9f29c4b37175...,1,1
29,dd01530d-1f50-4dc4-a20b-8058d2fa5d6a,29,HIROTADA,PERSON,"Matsudaira Hirotada, father of Takechyo; his d...",[3e00ac3183ed757016dad530f6770913417341e8e9109...,1,2
30,579e1557-189a-46ca-a5d6-d83fbad8012d,30,TAKECHYO,PERSON,TAKECHYO is a historical name in the Matsudair...,[3e00ac3183ed757016dad530f6770913417341e8e9109...,2,8
31,79488ebb-ce99-4b7e-80b4-0a700dd3f01d,31,MOTONOBU,PERSON,One of the names used by the future Tokugawa I...,[3e00ac3183ed757016dad530f6770913417341e8e9109...,1,1

In [54]:
df[df["type"] == "PERSON"].sort_values("frequency", ascending=False).head(10)

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree
14,d0361a72-b4b8-4c4f-b6b3-54d5c91220fd,14,TOYOTOMI HIDEYOSHI,PERSON,Toyotomi Hideyoshi was a premier Sengoku-perio...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,74,229
0,94d0afe6-ce6d-4d99-8eb3-8b90a756ed37,0,TOKUGAWA IEYASU,PERSON,TOKUGAWA IEYASU was a pivotal Sengoku- and ear...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,66,200
5,8717d0c8-06ed-4949-a931-445aa403d808,5,ODA NOBUNAGA,PERSON,Oda Nobunaga was a prominent 16th-century Japa...,[1429ac36404ab6516fa879407e50e8fb318a866bf8a68...,43,107
77,6f033dbf-b196-452f-933c-caf48e0a72e3,77,NOBUNAGA,PERSON,"NOBUNAGA, widely identified with Oda Nobunaga,...",[4ad60371b8e0a9c58f2d2c6528c873cb2bc6f95fe1add...,36,215
111,4111a42e-32c4-4e83-8df2-ef0ff6300fff,111,IEYASU TOKUGAWA,PERSON,"Tokugawa Ieyasu, also known as IEYASU TOKUGAWA...",[49e85ebe6dfdcad3395ecdebe10c1e2ebaf701917bfde...,17,50
89,473dbc45-ecd7-4f5f-b75f-58097619c794,89,ASHIKAGA YOSHIAKI,PERSON,Ashikaga Yoshiaki (Ashikaga Yoshia ki) was the...,[4ad60371b8e0a9c58f2d2c6528c873cb2bc6f95fe1add...,17,15
164,c3dc5775-2855-49ed-ac7f-070f41d0df26,164,AKECHI MITSUHIDE,PERSON,Akechi Mitsuhide was a Sengoku-period samurai ...,[926111cfaa4138b1930956a6b071e10e685a1c6d6c2d2...,16,14
1303,6a57dee4-223e-489d-810b-93be89fca10f,1303,MORI TERUMOTO,PERSON,Mori Terumoto was a prominent Sengoku-era daim...,[699cd33b8f8ea34fe5fb4a07955d0187050e026546ec7...,14,15
170,7b52bb25-55f3-4b2c-b775-5eb420e7d1d9,170,TAKIGAWA KAZUMASU,PERSON,TAKIGAWA KAZUMASU was a trusted Oda clan retai...,[926111cfaa4138b1930956a6b071e10e685a1c6d6c2d2...,13,10
78,05bfaf2b-699e-4bf4-9ffb-7150d998ec08,78,TAKEDA SHINGEN,PERSON,Takeda Shingen was a powerful daimyo of Kai Pr...,[4ad60371b8e0a9c58f2d2c6528c873cb2bc6f95fe1add...,11,18

In [55]:
df.sort_values(["frequency", "degree"], ascending=[True, False]).head(10)

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree
2220,4baa0645-f6fb-4310-ab01-4dbf08244f8c,2220,YOSHIAKA,PERSON,Ashikaga Yoshihara (義昭) — the Muromachi-era Sh...,[d2adea6370b9692abbe9109d6570b1ef492915850721c...,1,14
1501,f03a9ef4-7588-4050-822a-aab70cbe062f,1501,HIDETUGU,PERSON,"Toyotomi Hidetsugu, Sengoku-period leader unde...",[059152d252ec74e8ee66a5c1e41fbc225eaee2861026a...,1,13
1260,39af7955-457e-4a42-a551-b4aea1751b2d,1260,木下藤吉郎秀吉,PERSON,Japanese daimyo Hideyoshi; born as Kinoshita T...,[8ba4b63d64629300196e15336660eba7f53663707a391...,1,12
1480,f5a9235d-2ba4-4e97-9512-5f21ed717521,1480,SAISHIKI GUN,ORGANIZATION,"The 60,000-strong army assembled for the Ōu ca...",[6dc980407362b846d072c0c47c164a0a2c31cc284f646...,1,10
322,5a7ec542-9e66-4f96-96b1-766b0fec5a2f,322,EASTERN ARMY,ORGANIZATION,Military coalition loyal to Tokugawa Ieyasu; f...,[6d1c24caadedde0b08b2535de963455d298366b1154b6...,1,9
438,586bd1aa-f5c2-4b2f-93d9-c1759a8083c6,438,HOKOJI,ORGANIZATION,Hōkō-ji temple; site of the Great Buddha and D...,[e301af25f70349f7370312e882f83fcfa9c4d4927927d...,1,8
1349,8485b498-af05-4484-8dd3-55d49427615c,1349,KIYOSU CONFERENCE,EVENT,A meeting held at Kiyosu Castle to decide Nobu...,[59c11bcd8bb3da9f778c6518d12c742c641ad0b741128...,1,8
225,7e73dd3c-f8a2-4f49-b468-4dd20c76ca66,225,FIVE-PROVINCES SURVEY,EVENT,Large-scale land survey conducted across five ...,[2b90bc71de814a9b77bd6cefbb6f39232b9136304afed...,1,7
238,2603fc24-7d81-4b7a-8a3f-8147d7517ec2,238,OSHU SAISHI-OKI GUN,ORGANIZATION,Military force formed by Toyotomi Hideyoshi to...,[95e078c5a399e2cfeb6198f5ce02516fa048e985a2ff4...,1,7
1120,7bc237cf-8236-46ae-b3cf-ae1dc7e301fe,1120,河内将芳,PERSON,A Japanese author and scholar who wrote the wo...,[0002d847e81adc8572394e83551c548780ce8483f25a1...,1,7

In [56]:
df.groupby("type").size()

type
EVENT            416
GEO              525
ORG               40
ORGANIATION        1
ORGANIZATION     439
PERSON          1239
dtype: int64

In [57]:
# like: SELECT type, count(*) as cnt FROM entities GROUP BY type ORDER BY cnt DESC
df.groupby("type").size().sort_values(ascending=False)

type
PERSON          1239
GEO              525
ORGANIZATION     439
EVENT            416
ORG               40
ORGANIATION        1
dtype: int64

In [ ]:
# like: SELECT type, count(*) as cnt FROM entities GROUP BY type ORDER BY type
# df.sort_values("type").groupby("type").size() # NG -> 結果は返るがgroupbyの結果をSortしているわけではない。
# pandasは順序を保持するが、groupbyなどした後は順序が保証されないので、明示的にソートする必要がある。
# groupbyは既定でソートする。
# df.groupby("type", sort=True).size().sort_index() と同意
# groupby した type列は Index なので、sort_valueではなく、sort_indexを使う必要がある。
df.groupby("type").size().sort_index()

type
EVENT            416
GEO              525
ORG               40
ORGANIATION        1
ORGANIZATION     439
PERSON          1239
dtype: int64

In [58]:
# show as DataFrame
df.groupby("type").size().sort_values(ascending=False).reset_index(name="count")

           type  count
0        PERSON   1239
1           GEO    525
2  ORGANIZATION    439
3         EVENT    416
4           ORG     40
5   ORGANIATION      1

In [59]:
df.groupby("type")["title"].apply(list)

type
EVENT           [KIYOSU ALLIANCE, SEKIGAHARA BATTLE, OKEHAZAMA...
GEO             [MUSASHI PROVINCE, KAI PROVINCE, SHINANO PROVI...
ORG             [MATSUDAIRA, SERADA SHI, FUJIWARA SHI, SEIWA G...
ORGANIATION                                        [HYAKUCHI-SHI]
ORGANIZATION    [EDO SHOGUNATE, TOKUGAWA SHI, ANSHO MATSUDAIRA...
PERSON          [TOKUGAWA IEYASU, ODA NOBUNAGA, TOYOTOMI HIDEY...
Name: title, dtype: object

In [60]:
# like:
#
# SELECT *
# FROM (
#   SELECT *,
#          ROW_NUMBER() OVER (
#            PARTITION BY [type]
#            ORDER BY [frequency] DESC
#          ) AS rn
#   FROM entities
# ) AS t
# WHERE t.rn <= 5
# ORDER BY [type] ASC, [frequency] DESC;

df[["title", "type", "frequency"]].sort_values(["type", "frequency"], ascending=[True, False]).groupby("type").head(5)

                      title          type  frequency
166        HONNOJI INCIDENT         EVENT         14
11        SEKIGAHARA BATTLE         EVENT         12
28           OSAKA CAMPAIGN         EVENT          7
13   KOMAKI NAGAKUTE BATTLE         EVENT          6
224        ODAWARA CAMPAIGN         EVENT          6
167                   KYOTO           GEO         37
283                   OSAKA           GEO         20
16          MIKAWA PROVINCE           GEO         18
8              KAI PROVINCE           GEO         15
23          SURUGA PROVINCE           GEO         15
88              KYŌ JIGANJI           ORG          2
137                HOJO SHI           ORG          2
187                HONGANJI           ORG          2
760                     三条氏           ORG          2
84               MATSUDAIRA           ORG          1
601            HYAKUCHI-SHI   ORGANIATION          1
58      MUROMACHI SHOGUNATE  ORGANIZATION         14
837                     NHK  ORGANIZATION         12
1             EDO SHOGUNATE  ORGANIZATION         10
64                 ODA CLAN  ORGANIZATION         10
18            TOYOTOMI CLAN  ORGANIZATION          9
14       TOYOTOMI HIDEYOSHI        PERSON         74
0           TOKUGAWA IEYASU        PERSON         66
5              ODA NOBUNAGA        PERSON         43
77                 NOBUNAGA        PERSON         36
89        ASHIKAGA YOSHIAKI        PERSON         17

In [74]:
import re

jp_df = df[df["title"].str.contains(r"[ぁ-んァ-ン一-龥]")]
jp_df.sort_values("degree", ascending=False)[["title", "degree", "frequency"]].head(10)

        title  degree  frequency
1260  木下藤吉郎秀吉      12          1
1261       信長      10          2
1085      小学館       7          9
1123    吉川弘文館       7          3
1120     河内将芳       7          1
1091     宮本義己       5          2
1158    戎光祥出版       5          3
1088     角川書店       5          2
1550       秀吉       5          1
853       講談社       5          4